---
import BaseLayout from '../layouts/BaseLayout.astro'
const pageTitle = "About Me"
const identity = {
    firstName: "Mike",
    country: "US",
    occupation: "Developer",
    hobbies: ["flying","programming","mathematics"], 
}

const skills = ["AR","JavaScript","TypeScript","Python","C++","Java","HTML","CSS","SQL","React","Node.js",
"Express","MongoDB","PostgreSQL","Git","GitHub","VSCode","Linux","Windows","MacOS","AWS","Azure","Docker",
"Kubernetes","Jira","Confluence","Agile","Scrum","Kanban","TDD","BDD","CI/CD","REST","GraphQL",
"Microservices","Serverless","Distributed Systems","Algorithms","Data Structures","Machine Learning",
"Deep Learning","Natural Language Processing","Big Data","Data Analytics","Data Visualization","ETL",
"Data Warehousing","Data Modeling","Data Mining","Data Engineering","Data Science","Business Intelligence",
"Business Analysis","Business Process Management","Project Management","Product Management",
"Quality Assurance","Quality Control","Software Testing","Software Engineering",];
const happy = true;
const finished = true;
const goal = 3;
const skillColor = "green";
---
<BaseLayout pageTitle={pageTitle}>
    <h2>... and my new Astro site!</h2>

    <p>A few facts about me:</p>
    <ul>
        <li>My name is {identity.firstName}.</li>
        <li>I live in {identity.country} and I work as a {identity.occupation}</li>
        <li>Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}</li>
    </ul>
    <p>My skills are:</p>
    <ul>
        {skills.map((skill)=> <li class="skill">{skill}</li>)}
    </ul>

    {happy && <p> I am happy to be learning Astro!</p>}
    {finished && <p>I finished this tutorial.</p>}
    {goal === 3 ? <p>My goal is to finish in 3 days.</p> : <p>My goal is not 3 days.</p>}
</BaseLayout>

<style define:vars={{skillColor}}>
    .skill {
        color: var(--skillColor);
        font-weight: bold;
    }
</style>

